<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="info" internalLogFile="/logs/internal-log.txt">
  <variable name="LogDir" value="/logs/"/>
  <variable name="ApplicationName" value="${appdomain:format={1\}}"/>
  <targets async="true">
    <target xsi:type="File" name="allFile" fileName="${LogDir}${ApplicationName}-all-${shortdate}.log" layout="${longdate:universalTime=true} ${level:uppercase=true:padding=-5} ${logger}:${event-properties:item=Identifier} ${message} ${exception:format=tostring:trimWhiteSpace=true}"/>
  </targets>
  <rules>
    <!-- BlackHole without writeTo, it captures everything you don't want -->
    <logger name="Microsoft.*" maxLevel="Info" final="true"/>
    <logger name="*" minlevel="Info" writeTo="allFile"/>
  </rules>
</nlog>